<div class="logo">
  <h1>Sephora</h1>
</div>

<ul class="custom-nav nav nav-tabs">
  <li class="<%= active?(categories_path) %>">
    <%= link_to 'Categories', categories_path %>
  </li>
  <li class="<%= active?(sub_categories_path) %>">
    <%= link_to 'Sub Categories', sub_categories_path %>
  </li>
</ul>
